
//
// DEFINING FONTS
//

// CN-T FONTS

@font-face {
  font-family: 'genryuMin';
  src: url(../fonts/GenRyuMin-R.ttc) format('ttc');
}

@font-face {
  font-family: 'genryuMin';
  src: url(../fonts/GenRyuMin-L.ttc) format('ttc');
  font-weight: 300; 
}

@font-face {
  font-family: 'genryuMin';
  src: url(../fonts/GenRyuMin-SB.ttc) format('ttc');
  font-weight: 600; 
}

@font-face {
  font-family: 'genyoGothic';
  src: url(../fonts/GenYoGothic-R.ttc) format('ttc');
}

@font-face {
  font-family: 'genyoGothic';
  src: url(../fonts/GenYoGothic-L.ttc) format('ttc');
  font-weight: 300;
}

@font-face {
  font-family: 'genyoGothic';
  src: url(../fonts/GenYoGothic-L.ttc) format('ttc');
  font-weight: 500;
}


// BO FONTS

@font-face {
  font-family: 'bbTibetan';
  src: url(../fonts/BabelStoneTibetanSlim.ttf) format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'bbTibetan';
  src: url(../fonts/BabelStoneTibetan.ttf) format('ttf');
  font-weight: 400;
}