
//
// DEFINING FONTS
//

// BO FONTS
@font-face {
  font-family: 'bbTibetan';
  src: url(../fonts/BabelStoneTibetan.ttf) format('ttf')
}

@font-face {
  font-family: 'bbTibetanS';
  src: url(../fonts/BabelStoneTibetanSlim.ttf) format('ttf')
}

@font-face {
  font-family: 'genryuMinR';
  src: url(../fonts/GenRyuMin-R.ttc) format('ttc')
}

@font-face {
  font-family: 'genyoGothicR';
  src: url(../fonts/GenYoGothic-R.ttc) format('ttc')
}